.Todo {
  display: grid;
  grid-template-columns: auto 1fr auto;
  max-width: 100%;
  overflow: hidden;
  column-gap: 12px;
  align-items: center;
  border: none;
  padding: 0;
}

.Todo label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.Todo input:checked + label {
  text-decoration: line-through;
}

button[data-delete] {
  background-color: rgb(222, 0, 0);
}
